body {
  /* background-color: red; */
}

table {
  border-spacing: 0;
  width: 90%;
  border: 1px solid #ddd;
}

thead {
  cursor: pointer;
}

/* th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
} */
